.nav-bar, nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > ul {
  list-style: none;
  gap: 2rem;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
}

.content { 
  height: 100%;
}

.vail-pic {
  position: absolute;
  
  height: 100%;
  width: 66%;
  
  background: url('VailHouse.jpeg');
  background-size: cover;
  background-position: center;
  
  top: 0;
  right: 0;

  z-index: -1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
